@import '../src/app/shared/styles/colors.scss';

html
{
    height: fit-content;
    margin: 0px;
    padding: 0px;
    color: $light-font-color-medium-emphasis;
    font-family: sans-serif;
    line-height: 1.15;
}

body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

app-root
{
    height: 100%;
    margin: 0px;
    padding: 0px;
}



