<div class="header-main-div">
    <div id="notification-button" class="header-button">
        <img class="nav-item-icon" src="../../../assets/icons/notification-icon.svg" alt="notification-icon" />
    </div>
    <div id="mail-button" class="header-button">
        <img class="nav-item-icon" src="../../../assets/icons/mail-icon.svg" alt="mail-icon" />
    </div>
    <div id="user-button-name" class="header-button">User</div>
    <div id="user-profil" class="header-button">Img</div>
    <div id="right-padding"></div>  
</div>
