<nav id="nav-bar">
    <ul class="ul-nav-bar">
        <li class="nav-item-li">
            <div class="nav-item-group-div">
                <div class="nav-item-div">
                    <img class="nav-item-icon" src="../../../assets/icons/home-icon.svg" alt="home-icon" />
                    <a class="nav-item-a" routerLink="/home" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Home</a>
                    <img class="nav-item-expand-icon" src="../../../assets/icons/expand-icon.svg" alt="contact-icon" />
                </div>
                <ul class="ul-child-nav-bar">
                    <li class="nav-item-child-li">
                        <div class="nav-item-child-div">
                            <img class="nav-item-icon" src="../../../assets/icons/home-icon.svg" alt="home-icon" />
                            <a class="nav-item-a" routerLink="/home" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Home child 1</a>
                            <img class="nav-item-expand-icon" src="../../../assets/icons/expand-icon.svg" alt="contact-icon" />
                        </div> 
                    </li> 
                </ul>
            </div>
        </li>
        <li class="nav-item-li">
            <div class="nav-item-group-div">
                <div class="nav-item-div">
                    <img class="nav-item-icon" src="../../../assets/icons/contact-icon.svg" alt="contact-icon" />
                    <a class="nav-item-a" routerLink="/contacts" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Contacts</a>
                    <img class="nav-item-expand-icon" src="../../../assets/icons/expand-icon.svg" alt="contact-icon" />
                </div>
                <ul class="ul-child-nav-bar">
                    <li class="nav-item-child-li">
                        <div class="nav-item-child-div">
                            <img class="nav-item-icon" src="../../../assets/icons/contact-icon.svg" alt="contact-icon" />
                            <a class="nav-item-a" routerLink="/contacts/contactChild/01" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Contacts child 1</a>
                            <img class="nav-item-expand-icon" src="../../../assets/icons/expand-icon.svg" alt="contact-icon" />
                        </div> 
                    </li>
                    <li class="nav-item-child-li">
                        <div class="nav-item-child-div">
                            <img class="nav-item-icon" src="../../../assets/icons/contact-icon.svg" alt="contact-icon" />
                            <a class="nav-item-a" routerLink="/contacts/contactChild/02" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Contacts child 2</a>
                            <img class="nav-item-expand-icon" src="../../../assets/icons/expand-icon.svg" alt="contact-icon" />
                        </div> 
                    </li>
                    <li class="nav-item-child-li">
                        <div class="nav-item-child-div">
                            <img class="nav-item-icon" src="../../../assets/icons/contact-icon.svg" alt="contact-icon" />
                            <a class="nav-item-a" routerLink="/contacts/contactChild/03" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Contacts child 3</a>
                            <img class="nav-item-expand-icon" src="../../../assets/icons/expand-icon.svg" alt="contact-icon" />
                        </div> 
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item-li">
            <div class="nav-item-group-div">
                <div class="nav-item-div">
                    <img class="nav-item-icon" src="../../../assets/icons/order-icon.svg" alt="order-icon" />
                    <a class="nav-item-a" routerLink="/orders" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Orders</a>
                    <img class="nav-item-expand-icon" src="../../../assets/icons/expand-icon.svg" alt="order-icon" />
                </div>
                <ul class="ul-child-nav-bar">
                    <li class="nav-item-child-li">
                        <div class="nav-item-child-div">
                            <img class="nav-item-icon" src="../../../assets/icons/order-icon.svg" alt="order-icon" />
                            <a class="nav-item-a" routerLink="/orders" routerLinkActive="activeButton" ariaCurrentWhenActive="page">Orders child 1</a>
                            <img class="nav-item-expand-icon" src="../../../assets/icons/expand-icon.svg" alt="order-icon" />
                        </div>
                    </li> 
                </ul>
            </div>
        </li>
    </ul>
</nav>



