<div class="c-main-div">
    <div class="chapter-div">
        <h1 class="chapter-tt">Status bars layout</h1>
        <p class="chapter-ct">Basic layout for status bar with center content ajust</p>
        <div class="chapter-ex">
            <div class="vl-st-div">
                <div class="vl-st-h-div">Header</div>
                <div class="vl-st-c-div">Content</div>
                <div class="vl-st-f-div">Footer</div>
            </div>
        </div>
        <div class="chapter-cd">
            <div class="vl-st-div">
                <div class="vl-st-h-div">.html</div>
                <div class="vl-st-c-div">Content</div>
            </div>
            <div class="vl-st-div">
                <div class="vl-st-h-div">.scss</div>
                <div class="vl-st-c-div">Content</div>
            </div>
        </div>
    </div>
    <div class="chapter-div">
        <h1 class="chapter-tt">Navigation bar layout</h1>
        <p class="chapter-ct">Basic layout for status bar with center content ajust</p>
        <div class="chapter-ex">
            <div class="chapter-ex-div">
                div.
            </div>
        </div>
        <div class="chapter-cd"></div>
    </div>
</div>


